* {
  font-family: Oxanium;
  box-sizing: border-box;
}

.product-img {
  border: 0.25rem solid black;
  border-radius: 0.5rem;
}

header {
  text-align: center;
}
header h1 {
  font-weight: 800;
}

.images {
  text-align: center;
}

#navigation {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: black;
  padding: 0.5rem;
}

#navigation * {
  color: white;
}

#navigation button {
  color: black;
}

footer {
  text-align: center;
}

h2 {
  text-align: center;
}

.centered {
  text-align: center;
}
